<h1><%- title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <p>Confirm Deletion - The delete is permanent.</p>

  <div id="inventory">
    <form action="/inv/delete" method="post">
        <!-- <label for="classification_id">Classification: </label><br>

        Dropdown used to be here -->

        <label for="inv_make">Make: </label><br>
        <span>Min of 3 characters</span>
        <input type="text" id="inv_make" name="inv_make" readonly minlength="3" value="<%= locals.inv_make %>"><br>

        <label for="inv_model">Model: </label><br>
        <span>Min of 3 characters</span>
        <input type="text" id="inv_model" name="inv_model" readonly required minlength="3" value="<%= locals.inv_model %>"><br>

     
        <label for="inv_price">Price: </label><br>
        <span>Decimal or Integer</span>
        <input type="number" id="inv_price" name="inv_price" readonly required step="0.01" value="<%= locals.inv_price %>"><br>

        <label for="inv_year">Year: </label><br>
        <span>Four digit year</span>
        <input type="number" id="inv_year" name="inv_year" readonly required min="1000" max="9999" value="<%= locals.inv_year %>"><br>

         
        <input type="submit" value="Delete Vehicle">
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>

